* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f3f3f3;
}
td {
  width: 134px;
  text-align: center;
}

.accordion-body {
  display: none;
}
.accordion-body.open {
  display: block;
}
table,
tr,
td,
tbody,
thead {
  border: none;
  width: 90%;
}
tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #eee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .list1 {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
}

main .list1 .accordion-head1 {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  text-align: left;
  padding: 1em 1.5em;
  font-size: 1.5em;
  transition: background-color 0.2s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .list1 .accordion-head1:not(:first-child) {
  cursor: pointer;
}

main .list .accordion-head1:last-of-type {
  border-bottom: none;
}
main .list1 .accordion-head1 .arrow {
  visibility: hidden;
}

.accordion-head1:first-child i.arrow {
  visibility: hidden;
}
.accordion-head1:first-child table tr td {
  font-size: 12px;
  text-align: center;
  opacity: 0.6;
}
main .list {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
}

main .list .accordion-head {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  text-align: left;
  padding: 1em 1.5em;
  font-size: 1.5em;
  transition: background-color 0.2s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
main .list .accordion-head .arrow {
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-out;
  width: 10px;
  height: 10px;
}
main .list .accordion-head .arrow.open {
  transform: rotate(45deg);
}
main .list .accordion-head:not(:first-child):hover {
  background-color: #c1c1c1;
}

.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 64%;
}
.pagenumbers > div {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.pagenumbers button {
  width: 50px;
  height: 50px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #44aaee;

  margin: 5px;
  transition: 0.4s;

  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
  background-color: #44eeaa;
}

.pagenumbers button.active {
  background-color: #44eeaa;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}
